/* mobile device  */

@media screen and (max-width: 600px) {
  html {
    font-size: 3.5vw;
  }
  /* common styles  */
  .section-title {
    font-size: 1.563rem;
  }
  .section-desc {
    line-height: 1.313rem;
  }
  main section {
    margin-bottom: 1.5rem;
  }
  .head-p {
    width: 100%;
    margin: 1rem 0;
  }

  /* nav bar */
  .hamburger-menu {
    display: block;
  }
  .hamburger-icon {
    width: 2.5rem;
  }
  nav {
    padding: 2rem 0;
  }
  nav .menu {
    display: none;
  }
  .logo .logo-icon img {
    width: 3rem;
  }
  .logo h1 {
    font-size: 1.5rem;
  }

  /* banner  */
  .banner {
    padding: 3rem 2rem 2rem;
  }
  .banner-head p {
    width: 100%;
  }
  .banner-content form {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    padding: 20px 16px;
  }
  .banner-content form input,
  .banner-content form select,
  .banner-content form button {
    width: calc(100% - 16px);
  }
  .banner-head h1 {
    font-size: 1.6rem;
  }
  .banner-head p {
    font-size: 0.875rem;
  }

  /* popular-tours */
  .popular-tours {
    flex-direction: column;
    gap: 1.5rem;
  }
  .popular-tours-content,
  .popular-tours-img {
    width: 100%;
  }

  /* destination */
  .destination-head p {
    width: 100%;
    margin: 1rem 0;
  }
  .destination-content,
  .choose-us-content {
    grid-template-columns: 1fr;
  }
  .destination-content .img {
    grid-column: 1 / span 1;
  }
  .destination-content .main-padding,
  .destination-content .small-padding {
    padding: 4.75rem 0;
  }

  /* choose us */
  .choose-us-content .card:nth-child(1),
  .choose-us-content .card:nth-child(2),
  .choose-us-content .card:nth-child(3) {
    grid-column: 1 / span 1;
  }
}
