@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
  --primary-color: #131318;
  --secondary-color: #ff5400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Mulish", sans-serif;
}

/* common styles  */

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.section-desc {
  color: rgba(19, 19, 24, 0.7);
  line-height: 1.625rem;
}

.primary-btn {
  width: 174px;
  color: #fff;
  background: var(--secondary-color);
  border: none;
  border-radius: 8px;
  font-weight: 700;
  padding: 1rem 0;
  cursor: pointer;
  transition: all 0.5s;
}

.primary-btn:hover {
  background-color: #e05813;
}

/* header styles */

/* nav bar styles  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo h1 {
  color: var(--primary-color);
  font-size: 2.25rem;
  font-weight: 800;
}

.logo h1 span {
  color: var(--secondary-color);
}

nav .menu .nav-item {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

nav ul li a {
  color: #424247;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s;
}

nav ul li:nth-child(1) a {
  color: var(--secondary-color);
  font-weight: 700;
}

nav ul li a:hover {
  color: #808080;
}

/* hamburger menu  */

.hamburger-menu {
  display: none;
}

.hamburger-icon {
  width: 3.75rem;
  display: flex;
  align-items: center;
}

.ham-menu-item {
  display: none;
  position: absolute;
  right: 5vw;
  list-style: none;
  background-color: rgb(255, 250, 246);
  box-shadow: 0 0 30px 10px rgba(143, 143, 143, 0.247);
  padding: 1.25rem 0;
}

.ham-menu-item li {
  margin-bottom: 0.625rem;
  padding: 0 1.25rem;
  transition: all 0.3s;
}

.ham-menu-item li:hover {
  background-color: rgb(255, 255, 255);
}

.hamburger-menu:hover .ham-menu-item {
  display: block;
}

/* main styles  */

/* banner styles  */

.banner {
  text-align: center;
  padding: 106px 0;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0)
    ),
    url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-head h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.banner-head p {
  color: #fff;
  margin: 1.5rem auto 3rem;
  width: 700px;
}

.banner-content {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: fit-content;
  margin: 0 auto;
  padding: 16px;
}

.banner-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.banner-content form input,
.banner-content form select {
  color: rgba(19, 19, 24, 0.5);
  padding: 16px;
  border-radius: 8px;
  border: none;
  width: 174px;
  outline: none;
  appearance: none;
}

.banner-content form input::placeholder {
  color: rgba(19, 19, 24, 0.5);
}

.banner-content form select {
  background-image: url(../images/down-arrow.png);
  background-repeat: no-repeat;
  background-position: center right 0.875rem;
}

.banner-content form button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
